:root{
    --teal:#024554;
    --cobalt:#53736A;
    --turquios:#6A8C69;
    --beige:#A8B545;
    --gold:#C2C0A6;
    --limegreen:#9FC131;
}
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--teal);
}
h1,h2,h3{
    margin:0;
}
#intro{
    padding-bottom: 4rem 1rem 5rem 1rem;
    max-width: 1200px; 
    margin: 0 auto;

}
#intro p{
    font-size: 1.5rem;
    color:var(--gold) ;
    line-height: 1.5;
}
.name span{
    display: block;
    color: var(--beige);
    font-size: 3rem;

}
.proflie{
   padding-bottom: 1rem;
}
#intro h2{
    font-size: 3rem;
    font-weight: normal;
}
#experience ul{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
#experience li{
    list-style-type: none;
    padding: .5rem;
   
}
#experience a{
   color: white;
}
#hire{
    background-color: var(--turquios);
    width: 400px;
    text-align: center; 
    margin: 0 auto;
    padding: 3rem 0;
}
#hire p:last-child{
    margin-top: 1rem;
}
.section-hire{
    background-color: var(--turquios);
}
nav{
    font-size: 80%;
    padding: 1rem;
    background-color: var(--cobalt);
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
   
}
nav a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
nav a:hover{
    color: var(--beige);
    text-decoration: underline;
    font-size: 1.4rem;
   
}
nav li:first-child{
   
    flex-basis: 100%;
    font-size: 1.5rem;
    margin-left: 3rem;
}

.button{
    background-color:var(--limegreen);
    padding: 0.5rem;
    border-radius: 5px;
}
.button:hover{
  color: white;
  background: rgb(0,95,116);
background: linear-gradient(90deg, rgba(0,95,116,1) 0%, rgba(167,189,22,1) 67%, rgba(255,207,0,1) 100%);
}
.gradient-section{
    height: 2px;
    background-color: white;
}
footer{
    text-align: center;
    padding: 2rem;
}
@media (min-width: 600px){
   nav li:first-child{
    flex-grow: 1;
    flex-basis: auto;
  }
}
